<div class="head">
	<h1>
		<a href="/CgvProject/main.html"><img
			src="/CgvProject/images/header/h1_cgv.png" alt="cgvLogo"></a>
	</h1>
	<div class="header_service">
		<ul class="util"></ul>
		<ul class="gnb">
			<li><a class="login" href="/CgvProject/member/login.html"><span>로그인</span></a></li>
			<li><a class="join" href="/CgvProject/member/terms.html"><span>회원가입</span></a></li>
			<li><a class="mycgv" href="#"><span>MyCGV</span></a></li>
			<li><a class="vip_lounge" href="#"><span>VIPLOUNGE</span></a></li>
			<li><a class="club_service" href="#"><span>Club서비스</span></a></li>
			<li><a class="customer" href="/CgvProject/bbs/boardList.html"><span>고객센터</span></a></li>
			<li><a class="english_ticketing" href="#"><span>ENGLISHTICKETING</span></a></li>
		</ul>
	</div>
	<div class="header_menu">
		<h2>
			<img src="/CgvProject/images/header/h2_cultureplex.png"
				alt="cultureplex">
		</h2>
		<div class="menu">
			<ul>
				<li class="menu_movie"><a href="">영화</a></li>
				<li class="menu_reserve"><a href="">예매</a></li>
				<li class="menu_theater"><a href="">극장</a></li>
				<li class="menu_event"><a href="">이벤트&컬처</a></li>
			</ul>
		</div>
		<div class="search">
			<fieldset>
				<input type="text" placeholder="주디 3월25일 개봉">
				<button class="btn-go-search">검색</button>
			</fieldset>
		</div>
		<div class="phototicket">
			<a href="#">포토티켓</a>
		</div>
	</div>
</div>